{
  "machine": {
    "gpu": 1,
    "gpus": [
        {
            "vram": 40000
        }
    ],
    "cpu": 2000,
    "ram": 24000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": ["python", "/workspace/run_wan2.1.py"],
        "EnvironmentVariables": [
          {{ if .prompt }}"PROMPT={{ .prompt | js }}"{{ else }}"PROMPT=A cat and a dog baking a cake together in a kitchen. The cat is carefully measuring flour, while the dog is stirring the batter with a wooden spoon. The kitchen is cozy, with sunlight streaming through the window."{{ end }},
          {{ if .negative_prompt }}"NEGATIVE_PROMPT={{ .negative_prompt | js }}"{{ else }}"NEGATIVE_PROMPT="{{ end }}
        ],
        "Image": "lilypadnetwork/lilypad-wan2.1-t2v-1.3b:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "Memory": "24000MB"
      },
      "Timeout": 3600,
      "Verifier": "Noop",
      "Outputs": [
        {
          "Name": "outputs",
          "StorageSource": "IPFS",
          "Path": "/outputs"
        }
      ]
    }
  }
}
